name: CI

on: [push]

jobs:

  activate:
    runs-on: self-ubuntu-20.04
    if: |
      github.repository == 'feelpp/www.feelpp.org' &&
      !startsWith(github.event.head_commit.message, 'Release ') &&
      !contains(github.event.head_commit.message, 'ci skip')
    steps:
    - run: echo ok go

  docs:
    if: "!contains(github.event.head_commit.message, 'doc skip')"
    needs: activate
    runs-on: self-ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.3.1
    - uses: actions/setup-node@v2
      with:
        node-version: '10'
    - name: Build node_modules
      run: npm i
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
        bundler-cache: true
      env:
        ImageOS: ubuntu20 
    - name: Build site
      run: |
        bundle exec rake deploy:github
        ls -lrt
    - name: Deploy to gh-pages
      uses: JamesIves/github-pages-deploy-action@4.1.1
      with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: public # The folder the action should deploy.
    - name: Upload 
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: ibat-artifacts
        # Directory containing files to upload
        path: public

  deliver:
    if: "!contains(github.event.head_commit.message, 'deliver skip')"
    runs-on: self-ubuntu-20.04
    needs: docs
    name: Deliver Website Docker 

    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true  
        token: ${{ secrets.CR_PAT }}
        submodules: recursive
    - name: Download 
      uses: actions/download-artifact@v2
      with:
        # Artifact name
        name: ibat-artifacts
        # Directory containing files to upload
        path: public
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1        
    - 
      name: Login to GitHub Container Registry
      uses: docker/login-action@v1 
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}
    - 
      name: Build ${{ matrix.service }}
      uses: docker/build-push-action@v2
      with: 
        context: .
        repository: feelpp/www.feelpp.org
        tags: ghcr.io/feelpp/www.feelpp.org/www:latest
        file: Dockerfile
        push: true
